*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.debug{
  background-color: yellow;
  border: 1px solid black;
}

header{
  background-color: rgb(5, 72, 188);
  height: 50px;
}

.jumbotron{
  background-color: rgb(13, 142, 202);
  height: 200px;
}

main{
  background-color: rgb(0, 255, 234);
  height: 500px;
}

footer{
  background-color: rgb(8, 237, 96);
  height: 200px;
}
